<a href="https://colab.research.google.com/github/pauloigorms/covid-twitter-pecd/blob/main/Programacao_Ciencia_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROGRAMA√á√ÉO PARA CI√äNCIA DE DADOS**

**Equipe**: C√°ssio de Paula / Paulo Moraes [(website)](https://paulomoraes.me).

**Objetivo**: analisar as mensagens
trocadas por usu√°rios do Twitter sobre a COVID-19, com o intuito de realizar uma an√°lise
explorat√≥ria e visualiza√ß√£o de dados, passando tamb√©m pelas etapas de limpeza e organiza√ß√£o.
Mais especificamente, as equipes devem explorar a an√°lise nas perguntas (quest√µes) dos usu√°rios,
pois arguimos que seja um tipo de mensagem apropriado para se compreender as principais d√∫vidas
das pessoas sobre a atual pandemia.

# **INFORMA√á√ïES GERAIS**

### **ARTEFATOS**


*   Relat√≥rio T√©cnico - *Um notebook com o texto e o c√≥digo-fonte apresentado na ferramenta Google COLAB*; 
*   Reposit√≥rio no GitHub.


### **ATIVIDADES**


*   Importar base de dados;
*   Tratar base de dados;
*   Identificar as perguntas (quest√µes) descritas nas mensagens;
*   Salvar cole√ß√£o com a identifica√ß√£o das perguntas em um novo dataset chamado "DuvidasDB".


### **DO RESULTADO**


1.   Devem apresentar um resumo (sum√°rio) com as estat√≠sticas dos dados originais, elas podem ser apresentadas atrav√©s de tabelas e/ou gr√°ficos;
2.   Com a cole√ß√£o resultando da identifica√ß√£o das perguntas a equipe deve apresentar as estat√≠sticas sobre estes dados.


### **TEMAS DISCUTIDOS**

As equipes devem fazer uma an√°lise sobre os temas que s√£o debatidos nas perguntas dos postadas pelos usu√°rios. Fa√ßa uma an√°lise se as perguntas s√£o relativas aos seguintes temas:

*   Doen√ßa. Quando a pergunta √© relativa √† doen√ßa Deve-se observar que a doen√ßa √© identificada por v√°rios nomes. Exemplo: coronav√≠rus, corona, COVID-19, etc;
*   Medicamento. Quando a pergunta √© sobre o uso de determinado medicamento no tratamento da doen√ßa;
*   Organiza√ß√µes. Quando a pergunta √© relativa a uma determinada entidade ou organiza√ß√£o. Emissora de TV, Minist√©rio da Sa√∫de ou empresas s√£o exemplos de organiza√ß√µes;
*   Pessoas. Quando a pergunta √© sobre determinada pessoa. Por exemplo, a pergunta pode ser sobre a atua√ß√£o que determinado pol√≠tico ou pessoa famosa teve durante esse per√≠odo de pandemia.

# **VIS√ÉO DOS DADOS**

> **Vis√£o Temporal** - Deve-se fazer uma an√°lise temporal das perguntas que formam o dataset *DuvidasDB*. Pode-se considerar o intervalo temporal de dias, semanas ou meses. A escolha do intervalo de tempo ficar√° a cargo das equipes. Exemplos de an√°lise temporal: a) houve um aumento no n√∫mero de perguntas
ao longo do tempo? b) houve uma mudan√ßa no perfil das perguntas ao longo do tempo?

> **Vis√£o Geogr√°fica** - Deve-se fazer uma an√°lise geogr√°fica (espacial) das perguntas que formam o dataset *DuvidasDB*. Existem algumas colunas no dataset que trazem a informa√ß√£o das localiza√ß√µes como, por exemplo, o pa√≠s, estado e cidade. Em alguns tu√≠tes √© poss√≠vel ainda identificar as coordenadas geogr√°ficas
de latitude e longitude. Exemplo de an√°lise geogr√°fica: a) os usu√°rios de regi√µes diferentes fazem
perguntas com diferentes focos? Por exemplo, ser√° que os usu√°rios de uma regi√£o perguntam mais
sobre a doen√ßa ou sobre o tratamento? Essa an√°lise ainda pode ser realizada em diversos n√≠veis de
√°rea (cidade, estado ou regi√£o). Al√©m de apresentar a distribui√ß√£o das d√∫vidas dos usu√°rios por
regi√£o, a equipe dever√° fazer uma an√°lise dessa distribui√ß√£o. Por exemplo, apresentar as raz√µes
(ou hip√≥teses) da ocorr√™ncia dessa distribui√ß√£o.

# **INICIANDO O PROJETO**

IMPORTANDO LIBS

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
import nltk as nltk

LEITURA DO ARQUIVO DE DADOS BASE

In [ ]:
drive.mount('/content/drive')
load_data = pd.read_csv('drive/My Drive/twitter/dados-curso-completo.csv', sep= ',',skiprows=0, encoding='utf-8')
raw_data = load_data.drop_duplicates(['texto'])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Fun√ß√µes

Fun√ß√£o: **C√°lcular Percente**

In [ ]:
def calc_percente(value, total): 
    if not value and not total: 
       return print("value = 0% \n total = 0%") 
    elif value < 0 or total < 0: 
       return print("n√£o aceita valor negativo!") 
    else: 
       return print('{0:.2f}%'.format((value / total * 100)))

Fun√ß√£o: **Formatar String**

In [ ]:
def format_string(value):
    print(value)

#Estat√≠sticas bases

**Exemplo da base de dados**

---

In [ ]:
raw_data.head(5)
# nodp_data.info()

                  data              usuario  ... longitude hashtags
0  2020-03-23 18:51:14             Gaboardi  ...       NaN       []
1  2020-03-18 03:18:14   Seu Z√© da Farm√°cia  ...       NaN       []
2  2020-03-29 12:09:27  Mar√≠lia Oliveira üáßüá∑  ...       NaN       []
3  2020-04-01 21:11:07                    üö©  ...       NaN       []
4  2020-03-19 17:49:40       Nova Impress√£o  ... -15.77691       []

[5 rows x 13 columns]

**Tamanha da base (com e sem dados duplicados)**

---

In [ ]:
# Total com duplicados: 1.658.825
# Total sem duplicados = 1.653.599
raw_data.texto.count()

1653599

**Twitters por regi√£o**

---

In [ ]:
# Total de twitters com localiza√ß√£o = 74.383
raw_data['lugar'].count()

74383

In [ ]:
# Percentual em rela√ß√£o √† base = 4.50%
calc_percente(value=raw_data['lugar'].count(), total=raw_data.texto.count())

4.50%

In [ ]:
# Total por pa√≠s
raw_data[raw_data.pais == 'Brazil'].groupby('pais').count()

# Total por estado
raw_data[raw_data.pais == 'Brazil'].groupby(['pais', 'lugar']).count() #.head(2)

                                                       data  ...  hashtags
pais   lugar                                                 ...
Brazil 12¬∞ Batalh√£o de Infantaria do Ex√©rcito (12 BI)     1  ...         1
       3¬™ Delegacia de Pol√≠cia (DP)                       1  ...         1
       89 A R√°dio Rock                                    1  ...         1
       @oBarreiro - Capital Do MUNDO                     13  ...        13
       AABB                                               1  ...         1
...                                                     ...  ...       ...
       √Åguas de S√£o Pedro                                 2  ...         2
       √Ålvares Machado                                    1  ...         1
       √Ålvaro de Carvalho                                 1  ...         1
       √ârico Cardoso                                      1  ...         1
       √ìbidos                                             2  ...         2

[2656 rows x 11 columns]

**Twitters por per√≠odo**

---

In [ ]:
raw_data[raw_data.pais == 'Brazil'].groupby('data').count()

# raw_data.data.str.split(" ").head(5)

                     usuario  apelido  texto  ...  latitude  longitude  hashtags
data                                          ...
2020-01-01 03:23:38        1        1      1  ...         0          0         1
2020-01-01 03:40:57        1        1      1  ...         0          0         1
2020-01-01 07:57:48        1        1      1  ...         0          0         1
2020-01-01 17:28:57        1        1      1  ...         0          0         1
2020-01-02 00:46:52        1        1      1  ...         0          0         1
...                      ...      ...    ...  ...       ...        ...       ...
2020-06-30 23:57:57        1        1      1  ...         0          0         1
2020-06-30 23:58:39        1        1      1  ...         0          0         1
2020-06-30 23:59:06        1        1      1  ...         0          0         1
2020-06-30 23:59:12        1        1      1  ...         0          0         1
2020-06-30 23:59:56        1        1      1  ...         0          0         1

[65608 rows x 12 columns]